* {
    margin: 0;
    padding: 0;
}

.menu {}

.menu ul {
    margin-top: 0;
    height: 50px;
    background-color: antiquewhite;
    text-align: center;
    width: 100%;

}

.menu li {
    display: inline-block;
    border-right: 1px solid darkblue;
    cursor: pointer;
    width: calc(100%/6);
    position: relative;
    margin-right: -4px;
    position: relative;
    line-height: 50px;
}

.menu li:hover {
    background-color: aqua;
}

.menu .End {
    border: 0;
}
